Located in {{blog.title}}, this {{blog.author}} bedroom {{blog.date}} is
available by arrangement through {{blog.body}}.
<br>
<p><img src={{blog.image}} alt={{blog.title}}></p>

<button {{action 'delete' blog}}>Delete</button>
